.banner {
    margin-bottom: 200px;
    padding-top: 180px;

    overflow: hidden;

    @media (max-width: $md) {
        margin-bottom: 150px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: $lg) {
            flex-direction: column;
            gap: 50px;
        }

        @media (max-width: $sm) {
            gap: 128px;
        }
    }

    &__text-block {
        max-width: 665px;
    }

    &__title {
        margin-bottom: 15px;

        font-size: 5rem;
        font-weight: 400;

        @media (max-width: $sm) {
            font-size: 3rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__list-item {
        display: flex;
        gap: 15px;

        font-size: 1.5rem;
    }

    &__old-price {
        font-size: 1.5rem;
        color: rgba($colors-text, 0.5);

        @media (max-width: $sm) {
            font-size: 1.2rem;
        }
    }

    &__new-price {
        font-weight: 600;
        color: $colors-highlight;
    }

    &__image-block {
        position: relative;

        margin-left: 203px;

        right: -92px;

        @media (max-width: $lg) {
            right: auto;
        }

        @media (max-width: $sm) {
            margin-left: 0;
            margin: 0 -10px;
        }
    }

    &__image-wrapper {
        position: relative;

        @media (max-width: $sm) {
            margin: 0 -20px;
        }

        &--minor {
            position: absolute;
            left: -203px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            @media (max-width: $sm) {
                right: 20px;
                left: auto;
                top: -78px;

                transform: translateY(0);
            }
        }

        &::before {
            content: '';

            position: absolute;
            left: -10px;
            top: -10px;
            z-index: -1;

            width: calc(100% + 10px);
            height: calc(100% + 10px);

            background-image: url("data:image/svg+xml,%3Csvg width='213' height='379' viewBox='0 0 213 379' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M212 360.821L1 377.916V1.08105L212 17.5422V360.821Z' stroke='black' stroke-opacity='0.25' stroke-width='2'/%3E%3C/svg%3E%0A");

            // background-position: 0;
            background-repeat: no-repeat;

            background-size: contain;

            @media (max-width: $sm) {
                display: none;
            }
        }
    }

    &__image {
        @media (max-width: $sm) {
            &--main {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }
}
