.btn {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $family-main;
    font-size: 20px;

    border: 0;
    background: none;
    cursor: pointer;

    &--sm {
        padding: 20px 30px;
    }

    &--orange {
        background-color: $colors-btn-bg;
        color: #fff;

        transition: background-color 0.3s linear;

        &:hover {
            background-color: $colors-btn-bg-hover;
        }
    }
}
