.footer {
    padding: 50px 0;
    background-color: #232325;

    color: #fff;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        margin-bottom: 60px;
    }
}
