.section {
    margin-bottom: 200px;

    @media (max-width: $md) {
        margin-bottom: 150px;
    }

    @media (max-width: $sm) {
        font-size: 1.5rem;
    }

    &__title {
        font-size: 3rem;
        font-family: $family-title;
        color: $colors-text;
        font-weight: 400;

        @media (max-width: $sm) {
            font-size: 2.5rem;
        }
    }

    &--about {
        .section__inner {
            display: flex;
            align-items: center;
            gap: 30px;

            @media (max-width: $lg) {
                flex-direction: column;
                gap: 35px;
            }
        }

        .section__image-block {
            @media (max-width: $lg) {
                order: 2;
            }
        }

        .section__image {
            @media (max-width: $sm) {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }

        .section__text-block {
            padding: 0 20px;
            @media (max-width: $lg) {
                order: 1;
            }
        }

        .section__title {
            margin-bottom: 39px;

            @media (max-width: $sm) {
                font-size: 2.2rem;
            }
        }

        .section__list {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .section__list-item {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            padding-top: 15px;

            border-top: 1px solid #232325;

            @media (max-width: $sm) {
                gap: 30px;
            }
        }

        .section__list-item-counter {
            font-size: 2.2rem;

            @media (max-width: $sm) {
                font-size: 1.8rem;
            }
        }
    }

    &--how-it-works {
        padding: 100px 0;
        background-color: #fafafa;

        @media (max-width: $md) {
            padding: 40px 0;
        }

        .section__title {
            margin-bottom: 68px;
        }

        .section__content {
            display: grid;

            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            @media (max-width: $md) {
                grid-template-columns: 1fr;
            }
        }

        .section__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section__image {
            margin-bottom: 10px;
            margin: 0 auto;

            @media (max-width: $sm) {
                max-width: 90px;
                max-height: 90px;
            }
        }

        .section__item-desk {
            text-align: center;

            @media (max-width: $md) {
                max-width: 400px;
            }
        }
    }

    &--about-course {
        .section__title {
            margin-bottom: 30px;
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 19px;

            @media (max-width: $lg) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: $md) {
                grid-template-columns: 1fr;
            }

            @media (max-width: $sm) {
                gap: 40px;
            }
        }
    }

    &--result {
        margin-bottom: 237px;

        padding: 150px 0;
        background-color: #fff3ed;

        @media (max-width: $md) {
            padding: 100px 0;
        }

        .section__title {
            margin-bottom: 15px;

            text-align: center;
        }

        .section__content {
            display: flex;
            justify-content: center;
        }
        .section__text {
            max-width: 789px;

            font-size: 2.2rem;
            text-align: center;

            @media (max-width: $sm) {
                font-size: 1.8rem;
            }
        }
    }

    &--price {
        margin-bottom: 237px;

        @media (max-width: $md) {
            margin-bottom: 150px;
        }

        .section__inner {
            display: flex;
            align-items: center;
            gap: 122px;

            @media (max-width: $lg) {
                flex-direction: column;
            }

            @media (max-width: $sm) {
                gap: 92px;
            }
        }

        .section__title {
            margin-bottom: 10px;
        }

        .section__subtitle {
            margin-bottom: 50px;

            font-size: 2.2rem;
        }

        .section__price {
            display: flex;
            flex-direction: column;
        }

        .section__price-old {
            font-size: 2.5rem;
            color: rgba($colors-text, 0.45);
        }

        .section__price-new {
            margin-bottom: 10px;

            font-size: 4.5rem;
            font-weight: 700;
            color: $colors-text-highlight;
        }

        .section__price-text {
            color: rgba($colors-text, 0.8);
        }

        .section__image-block {
            position: relative;

            @media (max-width: $sm) {
                margin: 0 -20px;
            }
        }

        .section__image {
            @media (max-width: $sm) {
                display: block;
                width: 100%;
                max-width: 100%;
                height: auto;

                // margin: 0 -20px;

                &--minor {
                    width: auto;
                }
            }

            &--minor {
                position: absolute;
                top: -76px;
                right: 20px;

                @media (max-width: $sm) {
                    top: -72px;
                }
            }
        }
    }

    &--apply {
        .section__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .section__title {
            max-width: 526px;
            margin-bottom: 5px;

            text-align: center;
        }

        .section__subtitle {
            max-width: 365px;
            margin-bottom: 50px;

            font-size: 1.8rem;
            text-align: center;
        }

        .section__content {
            width: 100%;
        }
    }

    &--share {
        .section__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .section__title {
            margin-bottom: 5px;
        }

        .section__subtitle {
            max-width: 365px;
            margin-bottom: 50px;

            text-align: center;

            @media (max-width: $sm) {
                text-align: left;
            }
        }

        .section__btn {
            @media (max-width: $sm) {
                margin-right: auto;
            }
        }
    }

    &--faq {
        margin-bottom: 150px;

        @media (max-width: $md) {
            margin-bottom: 100px;
        }
        .section__title {
            margin-bottom: 50px;

            text-align: center;
        }

        .section__content {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
