<header class="header">
    <div class="container">
        <div class="header__inner">
            <img src="img/icons/decor-line-h.png" alt="" class="decor-horizontal">
            <img src="img/icons/decor-line-v.png" alt="" class="decor-vertical">
            <a href="#" class="logo header__logo">
                <picture>
                    <source srcset="img/logo/logo-header.webp">
                    <img src="img/logo/logo-header.png" class="logo header__logo-image" alt="Логотип">
                </picture>
            </a>

            <button type="button" class="btn btn--sm btn--orange header__btn modal-open">Купить</button>
        </div>
    </div>
</header>