<div class="modal">
    <div class="modal__inner">
        <button type="button" class="btn modal-close">
            <img src="img/icons/close.svg" alt="закрыть">
        </button>

        <!-- section price -->
        <section class="section section--price">
            <div class="container">
                <div class="section__inner">
                    <div class="section__text-block">
                        <h2 class="section__title"><span class="highlight">Стоимость</span> курса</h2>
                        <p class="section__subtitle">При оплате курса до 31 декабря вы получите 3000 рублей скидку на
                            всю программу</p>

                        <div class="section__price">
                            <span class="section__price-old"> <del>9000 Р.</del></span>
                            <span class="section__price-new">6 000 Р.</span>
                            <p class="section__price-text">Оплатите до 31 декабря, чтобы получить скидку</p>
                        </div>
                    </div>

                    <form action="/" class="form">
                        <div class="form__group">
                            <input type="email" class="form__input" name="email" placeholder="Ваш электронный адрес"
                                required>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__input" name="name" placeholder="Ваше Имя" required>
                        </div>
                        <div class="form__group">
                            <input type="tel" class="form__input" name="tel"
                                placeholder="Ваш телефон (нужно для добавления Вас в группу и в чат телеграмм)"
                                required>
                        </div>

                        <div class="form__group">
                            <button type="submit" class="btn btn--md btn--orange form__submit">Заказать</button>
                        </div>
                    </form>

                </div>
            </div>
        </section> <!-- enf of section price-->
    </div>
</div>