// normalize css
@import 'vendor/normalize.scss';

// vars
@import 'vars.scss';

// fonts
@import 'fonts.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $family-main;
    color: $colors-text;
    font-size: 1.8rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.highlight {
    color: $colors-text-highlight;
}

// components
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/container.scss';
@import 'components/btn.scss';
@import 'components/banner.scss';
@import 'components/section.scss';
@import 'components/card.scss';
@import 'components/form.scss';
@import 'components/accordion.scss';
@import 'components/contacts.scss';
@import 'components/socials.scss';
@import 'components/modal.scss';
