// colors
$colors-btn-bg: #ff5c00;
$colors-btn-bg-hover: #ff8d4c;
$colors-text-highlight: #ff5c00;

$colors-text: #19191b;
$colors-highlight: #c4882f;

// typography
$family-main: 'Montserrat', sans-serif;
$family-title: 'Playfair Display SC', serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
